@import 'tailwindcss';


@layer base {
    * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    }

    [data-theme='light'] {
	--color-bg-pannel: hsl(0, 0%, 95%);
	--color-bg-mode: hsl(0, 0%, 90%);

	--color-icon-mode: hsl(0, 0%, 35%);
    }
}
